name: "workflow"
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: install composer
        run: composer install
      
      - name: linter check
        run: make lint
      - name: run tests
        run: make test
